{% extends "blog/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="post_block">
        <br>
        <h2 style="text-align: center;">ちょっとしたExcel勉強会</h2>
        <h6 style="text-align: center;">Simple Excel Study Session</h6>
        <br>
        <p>
        理論を応用するために、さまざまなデータを収集し、分析し、活用する場面が多々あります。
        そのための身近なツールとしてPCは欠かせません。中でも身近なアプリケーションがExcelではないでしょうか。
        でも、手作業で操作していては生産性は上がらないし品質も向上しません。そこで重要なキーワードが自動化です。
        大量の繰り返し処理、複雑な集計や演算などは機械に任せて自動化したいですよね？
        ここでは他のアプリケーションとの連携なども含め、自分で出来るちょっとした自動化を目的に、
        Excelの関数や便利な機能などのトピックスを紹介していきます。
        </p>
        <br>
        <hr>
    </div>
    
    {% for post in posts %}
        <div class="post_block">
            <h4 class="subtitle">{{post.title}}</h4>
            <small>Posted at {{post.posted_date}}</small>
            <p>{{post.intro}}</p>
            <a href="{% url 'post_detail' post.slug %}">続きを読む</a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}