{% extends "blog/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="post block">
  <br>
  <h2 style="text-align: center;">わりと役立つ経営学</h2>
  <h6 style="text-align: center;">Relatively useful business administration</h6>
<br>

<p>経営学と聞くと難しく感じるかもしれませんが、そんな時こそ「４つの自問自答」の出番です。
  先ずは「なぜ？何のために？」と考えてみましょう。</p>
<br>  
<p>経営学を学ぶのはなぜ？<br>
  　　　　　↓ (それはなぜ？何のために？)<br>
  経営を体系立てて理解するため<br>
  　　　　　↓ (それはなぜ？何のために？)<br>
  さまざまな場面で応用するため<br>
  　　　　　↓ (それはなぜ？何のために？)<br>
  経営を維持し改善するため<br>
  　　　　　↓ (それはなぜ？何のために？)<br>
  利益を得るため<br>
  　　　　　↓ (それはなぜ？何のために？)<br>
  企業を永続させるため</p>
  <br>
  <p>次に「つまり？要するにどういうこと？」を考えて抽象化してみましょう。
 「利益を得るために必要な要素を、体系的に学ぶことで維持向上を目指す」と要約できるかもしれません。
  でも、これって企業経営に限った話ではないですよね？プライベートにおいても利益を得たいし、
  生活を維持向上させたいですよね？
  では続いて「そのためにはどうすればいい？何が必要？」を考えて、再び具体化してみましょう。</p>
  <br>
<p> 日常生活に応用する<br>
  　　　　　↓ (そのためには？)<br>
  理論を抽象化して解釈する<br>
  　　　　　↓ (そのためには？)<br>
  基本となる理論を理解する<br>
  　　　　　↓ (そのためには？)<br>
  学ぶべき理論を体系化する<br>
  　　　　　↓ (そのためには？)<br>
  学ぶべき理論を選び絞り込む<br>
  　　　　　↓ (そのためには？)<br>
  理論の本質を見極める</p>
  <br>
  <p>
  ここでもう一度「つまり？要するにどういうこと？」と抽象化してみると「より良い人生を送るために使えそうな理論を選び、
  抽象化して日常生活に応用する。」と要約できるかもしれません。
  ここでは経営学をプライベートな日常生活に応用し、より良い人生を送ることを目的に、気軽に学べるトピックスを紹介していきます。
  もちろん皆さんひとりひとりの価値観は異なりますので、「本当にそれだけ？他にはない？」という観点は必要になります。
  だから本質を理解して、自分なりの解釈で取捨選択してくださいね。</p>
  

{% endblock %}