{% extends "blog/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="post_block">
    <br>
    <h2 style="text-align: center;">わりと役立つ経営学</h2>
    <h6 style="text-align: center;">Relatively useful business administration</h6>
    <br>
    <p>
    ここでは経営学をプライベートな日常生活に応用し、より良い人生を送ることを目的に、気軽に学べるトピックスを紹介していきます。
    もちろん皆さんひとりひとりの価値観は異なりますので、「本当にそれだけ？他にはない？」という観点は必要になります。
    だから本質を理解して、自分なりの解釈で取捨選択してください。
    </p>
    <br>
    <hr>
  </div>

  {% for post in posts %}
    <div class="post_block">
        <h4 class="subtitle">{{post.title}}</h4>
        <small>Posted at {{post.posted_date}}</small>
        <p>{{post.intro|linebreaksbr}}</p>
        <a href="{% url 'post_detail' post.slug %}">続きを読む</a>
        <hr>
    </div>
  {% endfor %}
{% endblock %}